<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>About us</title>
    <style>
      body{
        background-color: rgb(39, 37, 37);
      }
      h4{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
        font-weight: bold;
        color:aliceblue;
      }
      img
      {
      block-size: 90%;
      padding-top: 100px;
      }
      .about{
        text-align: right;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: xx-large;
        color: aliceblue;
        padding-right: 20px;
      }
      footer {
    position:fixed;
    bottom:0;
    left: 0;
}
    </style>
  </head>
  <body>
    <h4>About us</h4>
    
    <img class="card-img-overlay" src="https://th.bing.com/th/id/OIP.CplCzj-tDybKigB-Rgu5gwHaHa?pid=ImgDet&w=1000&h=1000&rs=1" alt="image" >
   <!-- Button trigger modal -->
   <div class="about">
     <p>
       We are here for serving the world class food to you <br>"Hassle free                   "
     </p>
   </div>
   <footer class="text-center text-white" style="background-color: rgb(2, 115, 150); padding-bottom: 1px; text-align:bottom;">
   <div class="text-center p-0.8" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" style="text-decoration: none;" href="http://localhost:3000/">SmartRestaurant.com</a>
    <!-- <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>
</footer>
  
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>