<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Hello, world!</title>
  <style>
    /* .navbar{
    padding-top: 2px;
    } */
    /* .form-inline {
    height: 38px;
} */
    .carousel {
      /* position: relative; */
      /* border: 10px solid red; */
      margin: -240px 8px 0px 8px;
      box-sizing: border-box;
      height: 65vh;
    }

    .d-block {
      height: 65vh;
    }

    .siz {
      /* display: block; */
      box-sizing: border-box;
      /* border: 5px solid red; */
      width: 100vw;
      height: 50vh;
    }

    .card-img {
      width: 100%;
      height: 85vh;
      border-radius: calc(.25rem - 1px);
    }

    .card-deck {
      /* border: 5px solid red; */
      margin: 240px 0px;
    }

    .nav {
      text-decoration: none;
      color: white;
    }

    .nav:hover {
      text-decoration: none;
      color: lightgreen;
    }

    h2 {
      text-align: center;
      color: lightcyan;
      font-family: 'Times New Roman', Times, serif;


    }

    h3 {
      text-align: center;
      background-color: aliceblue;
      color: black;
      font-family: Georgia, 'Times New Roman', Times, serif;
      display: block;

    }

    #bar {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .h4,
    h4 {
      font-size: 1.5rem;
    }

    .btn {
      border: 0.5px solid red;
    }

    .srch {
      border: 0.5px solid green;

    }

    /* .fixed-top {
      height: 45px;
    } */

    /* .card-title { */
    /* margin-bottom: 0.75rem;
    margin-top: 20px; */
    /* margin-top: revert; */
    /* } */
    /* .card{
  margin-top: 30px ;
} */


    /* .developers{
   /* background-color: white; */
    /* color: white; */
    /* opacity: -100; */
    /* background-image: https://www.freepik.com/free-vector/realistic-luxury-background-with-golden-lines_14669589.htm#page=1&position=24&from_view=detail#&position=24&from_view=detail; */
    /* background-image: https://tse3.mm.bing.net/th?id=OIP.wDO0EKO7OwMgHo-6xJvBvAHaEK&pid=Api&P=0&w=299&h=169; */
    /* } */

    /* .d-block{
   opacity: 10;
 } */

    .carousel-item {
      /* background-color: wheat; */
      height: 60vh;
      width: 100vw;
      background-position: center;
      /* Center the image */
      background-repeat: no-repeat;
      /* Do not repeat the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */
      /* padding: 0px 40%; */
    
    }

    .top {
      background-image: url(/img/carousel1.jfif);
      /* background-color: black; */
    }

    .mid {
      background-image: url(/img/carousel2.jpg);
      /* background-color: black; */
      flex-direction: row;
    }

    .bottom {
      background-image: url(/img/carousel3.jpg);
      /* background-color: black; */
    }

    .developers {

      display: flex;
      flex-direction: row;
      padding: 0px 35px;
      margin: 0px 30px;
      text-decoration: overline;
      color: rgb(200, 0, 0);
      text-shadow: 2px 2px 5px greenyellow;

    }

    .dev-reg {

      display: flex;
      flex-direction: row;
      text-align: center;
      padding: 0px 90px;
      margin: 3px 30px 0px 30px;
      text-shadow: 2px 2px 5px greenyellow;
      color: rgb(200, 0, 0);
    }

    .nm {
      padding: 2px 39px;
      font-style: oblique;
      display: flex;
      flex-direction: row;
    }

    .reg {
      padding: 30px 47px 2px 47px;
      font-style: oblique;
      display: flex;
      flex-direction: row;
    }

    .Sur {
      padding: 40px 47px 2px 0px;
    }

    .Ash {
      padding: 40px 37px 2px 77px;
    }

    .Kau {
      padding: 40px 47px 2px 100px;
    }
  </style>
</head>

<body>
  <!-- <h1>Hello, world!</h1> -->
  <div class="pos-f-t">

    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4" id="bar">
        <h2 class="text-white h4"> <a class="nav" href="/">Home</a></h2>
        <h2 class="text-white h4"> <a class="nav" href="./about.html">About Us</a></h2>
        <h2 class="text-white h4"> <a class="nav" href="./contact.html">Contact Us</a></h2>
        <h2 class="text-white h4"> <a class="nav" href="">Catalog</a></h2>
        <!-- <span class="text-muted">Toggleable via the navbar brand.</span> -->
      </div>
    </div>



    <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> -->



    <nav class="navbar navbar-dark fixed-top bg-dark">

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">

        <button class="btn srch btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </nav>


  </div>




  <div class="card bg-dark text-white siz">
    <img class="card-img"
      src="https://th.bing.com/th/id/R.896f746826297c60f36ce5d4e7e2f320?rik=xrX6uewa%2fBqE1w&riu=http%3a%2f%2fwww.wallpapersin4k.org%2fwp-content%2fuploads%2f2017%2f04%2fRestaurant-Wallpaper-HD-23.jpg&ehk=mhwd2tv%2fcWdRKTAQTnMqQwQKy817axW7QDX9yUvHTXI%3d&risl=&pid=ImgRaw&r=0"
      alt="Card image">
    <div class="card-img-overlay">

      <!-- <h5 class="card-title">WELCOME IN SMART RESTAURANT</h5> -->
      <br><br>
      <h2>Welcome in Smart Restaurant </h2>
      <h3 class="card-text">Food is the ingredient that binds us "TOGETHER"</h3>
      <br>
      <a href="/userLogin"><button type="button" class="btn btn-dark">Login(user)</button></a>
      <a href="/userSignup"> <button type="button" class="btn btn-dark">Signup(user)</button></a>
      <p class="card-text">For Restaurants</p>

      <!-- <h5 class="card-title">WELCOME IN SMART RESTAURANT</h5>
      <p class="card-text">Welcome in smart restaurant to my guest </p>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error nobis doloremque
        laborum accusamus illo ab officiis assumenda, odio nemo tempore, eligendi praesentium aliquid, dolore dolorum
        harum unde fuga commodi.</p>
       <a href="/userLogin"><button type="button"  class="btn btn-dark">Login(user)</button></a>
  <a href="/userSignup">     <button type="button" class="btn btn-dark">Signup(user)</button></a>
      <p class="card-text">For restaurants</p> -->

      <a href="/restLogin"><button type="button" class="btn btn-dark">Login(restaurant)</button></a>
      <a href="/restSignup"><button type="button" class="btn btn-dark">Signup(restaurant)</button></a>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top"
        src="https://ediblecapitaldistrict.ediblecommunities.com/sites/default/files/images/recipe/caramelized-onion-sausage-pizza-recipe-3.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pizza</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://tse2.mm.bing.net/th?id=OIP.kYB6rGQy8B-zpmV3G_M45AHaE8&pid=Api&P=0&w=271&h=181"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Berger</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://tse1.mm.bing.net/th?id=OIP.7PVqZs_xNtRr8qHkLCvycQHaE8&pid=Api&P=0&w=248&h=167"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dosa</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <!-- carousel-fade -->
  <div id="carouselExampleFade" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
      <!-- <div class="carousel-item  top active">
        <h3>Contact Us</h3> -->
        <!-- <img class="d-block w-100"
          src="https://www.freepik.com/free-vector/realistic-luxury-background-with-golden-lines_14669589.htm#page=1&position=24&from_view=detail#&position=24&from_view=detail"
          alt="First slide">
      </div> -->
        <div class="carousel-item mid active ">
          <h3>Developers</h3>
          <div class="dev-reg">
            <h5 class="reg Sur">20205170</h5>
            <h5 class="reg Ash">20205170</h5>
            <h5 class="reg Kau">20205170</h5>
          </div>

          <div class="developers">
            <h5 class="nm">suraj keshari</h5>
            <h5 class="nm">ashwani pandey</h5>
            <h5 class="nm">kaushtubh shah</h5>
          </div>
          <!-- <img class="d-block w-100"
          src="https://image.freepik.com/free-vector/gradient-golden-luxury-style-background_52683-69596.jpg"
          alt="Second slide"> -->
        </div>
        <!-- <div class="carousel-item bottom ">
        <h3>About Us</h3> -->
        <!-- <img class="d-block w-100"
          src="https://image.freepik.com/free-vector/luxurious-background-with-golden-details_52683-71736.jpg"
          alt="Third slide">
      </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>