<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        body {
            background-image: url(https://tse4.mm.bing.net/th?id=OIP.oN8W8Cmr5RVADVOlRcuPhgHaEo&pid=Api&P=0&w=245&h=154);
        }

        .form {
            box-sizing: border-box;
            /* border-radius: 20px; */
            /* border: 5px solid blue; */
            width: 70vw;
            margin: auto;
            padding: 50px 2px 2px 2px;
            /* background-image:url(https://tse4.mm.bing.net/th?id=OIP.etehY-eQaS4yQ881QfOPbQHaFr&pid=Api&P=0&w=227&h=175); */
        }

        .h1 {
            display: block;
            box-sizing: border-box;
            margin: auto;
            text-align: center;
        }

        .welcome {
            margin: 1px 2px 63px 4px;
        }

        .modal-footer>:not(:last-child) {
            margin-right: 9.25rem;
        }
    </style>
</head>

<body>

    <form class="form" method="post" action="/restSignup">
        <div class="welcome">
            <h1 class="h1">WELCOME TO SMART RESTAURANT</h1>

        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="inputEmail3" placeholder="Write Your Name"
                    required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="example@gmail.com"
                    required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Contact Number</label>
            <div class="col-sm-10">
                <input type="number" name="contact_no" class="form-control" id="inputEmail3" placeholder="9517442123"
                    required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Address</label>
            
                <!-- <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password"> -->
            <textarea  class="form-control" name="address" id="" cols="30" rows="5"></textarea>
            
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Are you visiting first time this website</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                            checked>
                        <label class="form-check-label" for="gridRadios1">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            No
                        </label>
                    </div>
                    <!-- <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                <label class="form-check-label" for="gridRadios3">
                  Third disabled radio
                </label>
              </div> -->
                </div>
            </div>
        </fieldset>
        <!-- <div class="form-group row">
          <div class="col-sm-2">checkbox</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Example checkbox
              </label>
            </div>
          </div>
        </div>  -->

        <div class="form-group row">
            <div class="col-sm-10">
                <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Signup
                </button>
            </div>
        </div>

    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">You Now Become A member Of Smart-Restaurant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    Your registraion become success full
                    <br>


                    <div class="modal-footer">
                        <div>
                            Remember your password : <input type="checkbox" name="passwrd">
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>